:root{
    --neon-yellow: #ffff33;
    --cyan: #00ffff;
    --cyber-magenta: #fa73fa;
    --pastel-scarlet: #FF4C64;
}
.text-pretty {
    color: var(--neon-yellow);
    font-family: monospace;
}
.btn-primary:is(.dark *) {
    background: rgba(0, 255, 255, 0);
    color: var(--cyan);
    border-radius:0;
    font-size: 1rem;
    border: 1px solid var(--cyan);
    filter: drop-shadow(0 0 30px var(--cyan));
    font-family: monospace;
}
.btn-secondary{
    background: rgba(0, 255, 255, 0);
    color: var(--cyber-magenta);
    border-radius:0;
    font-size: 1rem;
    border: 1px solid var(--cyber-magenta);
    filter: drop-shadow(0 0 30px var(--cyber-magenta));
    font-family: monospace;
}
.bg-token-message-surface {
    filter: drop-shadow(0 0 80px var(--pastel-scarlet));
    background: rgba(255, 76, 100, 0.211);
    border-radius:0;
    border: 1px solid var(--pastel-scarlet);
}   