:root{
    --neon-yellow: #ffff33;
    --cyan: #00ffff;
    --cyber-magenta: #fa73fa;
    --pastel-scarlet: #FF4C64;
}
.text-pretty {
    color: var(--neon-yellow);
    font-family: monospace;
}
.btn-primary:is(.dark *) {
    background: rgba(0, 255, 255, 0);
    color: var(--cyan);
    border-radius:0;
    font-size: 1rem;
    border: 1px solid var(--cyan);
    filter: drop-shadow(0 0 30px var(--cyan));
    font-family: monospace;
}
.btn-secondary{
    background: rgba(0, 255, 255, 0);
    color: var(--cyber-magenta);
    border-radius:0;
    font-size: 1rem;
    border: 1px solid var(--cyber-magenta);
    filter: drop-shadow(0 0 30px var(--cyber-magenta));
    font-family: monospace;
}
.bg-token-message-surface {
    filter: drop-shadow(0 0 80px var(--pastel-scarlet));
    background: rgba(255, 76, 100, 0.211);
    border-radius:0;
    border: 1px solid var(--pastel-scarlet);
}   
.bg-token-message-surface::selection {
    color: var(--cyan);
    background-color: #111;
    text-shadow: 0 0 black;
}
.dark\:bg-white:is(.dark *) {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid var(--cyan);
    filter: drop-shadow(0 0 30px var(--cyan));
}
.dark\:text-black:is(.dark *) {
    color: var(--cyan);
}
.dark{
    --bg-primary: #0A0F1E;
}
.text-token-text-secondary {
    font-family: monospace;
    font-size: 0.85rem;
    color: var(--neon-yellow);
}
._prosemirror-parent_kfgfu_2 p.placeholder{
    font-family: monospace;
}
.markdown::selection{
    color: var(--cyan);
    background-color: #000000;
}
yt-icon.ytd-logo{
    color: #ff00ff;
}